body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005aeb;
  color: white;
  padding: 15px 30px;
}

.nav-links {
  background-color: #005aeb;
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: cyan;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.46);
}

.logo {
  font-weight: 800;
  font-size: 20px;
  color: cyan;
}

/* end of navbar lol*/
