body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: rgb(0, 0, 0);
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #0074f0, #004b9a);
  color: white;
  padding: 15px 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: cyan;
  text-decoration: underline;
}

.logo {
  font-weight: 800;
  font-size: 20px;
  color: cyan;
}

/* end of navbar lol*/
.web-body {
  padding: 7px;
  background-color: #dedede;
  width: 98%;
  height: auto;
  margin: 12px auto;
}

button {
  background: linear-gradient(180deg, #b7b4b4, #fff);
  border: 1px solid black;
  border-radius: 5px;
  color: rgb(84, 84, 84);
}

button:hover {
  transform: scale(1.1);
}

.navbar-other {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #004b9a;
  color: white;
  padding: 15px 30px;
}
